* {
  box-sizing: border-box;
}

body {
}

body div {
  width: 25%;
  display: inline-block;
}

@media (max-width: 1200px) {
  body div {
    width: 33.33%;
  }
}

@media (max-width: 800px) {
  body div {
    width: 50%;
  }
}

@media (max-width: 500px) {
  body div {
    width: 100%;
  }
}

h1, h2 {
  width: 100%;
  text-align: center;
}